body{
    margin: 0px;
}

h1{
    font-family: 'Montserrat', Arial;
}
.post-container{
    background-color: #fffafa;
    margin: 0px auto 0px auto;
    width: 70%;
    height: 100%;
}
.post-container .date{
    font-family: 'Roboto', sans-serif;
    color: #008080;
    font-weight: 600;
}

.post-container .div.post-contant{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.post-container .post{
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 50px;
}





